.food-container {
  background-color: white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0.5rem auto;
  width: 800px;
  padding: 0.8rem;
}
body {
  background-color: rgb(231, 225, 231);
}
.color {
  background-color: rgba(139, 48, 48);
}

.content {
  width: 200px;
  position: relative;
  margin-bottom: 3rem;
}
.food-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}
.discount {
  position: absolute;
  background-color: rgb(180, 83, 83);
  top: 3.85rem;
  right: 0;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}
.title {
  font-size: 2rem;
  font-family: sans-serif;
  color: rgb(83, 82, 82);
  padding: 0;
  margin: 5px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.food-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.food-name {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: rgb(71, 71, 71);
  font-weight: 550;
  text-align: center;
  margin: 5px;
  padding: 0;
  height: 30px;
  margin-bottom: 2rem;
}
.food-content {
  display: flex;
  margin: 0;
  padding: 0;

  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  height: 50px;

  gap: 0px;
}
.food-content p img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.category {
  display: flex;

  gap: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  width: 740px;
}
.category button:focus {
  background-color: rgb(139, 48, 48);
}
.category button {
  padding: 2rem;
  background-color: rgb(245, 237, 237);
  font-size: 1.3rem;
  padding: 10px 1.3rem;
  border-radius: 5px;
  border: 0;
}
.price {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 10px;
}
.order {
  font-family: sans-serif;
  background-color: rgb(139, 48, 48);
  color: white;
  padding: 10px 1rem;
  border: 0;
  border-radius: 5px;
  margin: 0 1.3rem;
  width: 150px;
}
.order:hover {
  background-color: white;
  color: rgb(139, 48, 48);
  border: 1px solid rgb(139, 48, 48);
}
.icons {
  width: 40px;
  height: 40px;
}
.icon-container {
  height: 3rem;
}
